*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0px;
    padding: 10px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
section{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
.navbar ul{
    list-style-type: none;
    background-color:#3c3c3c;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:#000000;
}
.navbar li{
    float:left
}


