<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Vital Tracker Web Server</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"">
    </head>
    <header>
        <h1> Vital Tracker</h1> 
    </header>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('ekg') }}">EKG</a></li>
                <li><a href="{{ url_for('temp') }}">Body Temperature</a></li>
                <li><a href="{{ url_for('hr') }}">Heart Rate</a></li>
            </ul>

        </nav>
            
        <main>
            <label for="patients"> Patient:</label>
            <select name="patients" id="patients">
                <option value="P1">Madison Jones</option>
                <option value="P2">Mariah Williams</option>
            </select>
            <button type="submit" name="Submit">Submit
        </main>
        <p>
            This is the EKG page. EKG data will be recieved from the ESP32 and graphically displayed here.<br>
            Features may be added later to allow doctors to view multiple patients with the dropdown menu.
        </p>
    </body>
</html>