<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Vital Tracker Web Server</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <header>
        <h1> Vital Tracker</h1> 
    </header>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('ekg') }}">EKG</a></li>
                <li><a href="{{ url_for('temp') }}">Body Temperature</a></li>
                <li><a href="{{ url_for('hr') }}">Heart Rate</a></li>
            </ul>

        </nav>
            
        <main>
            <h3>Welcome to the Vital Tracker Web Server!</h3>
            <p>
                This is the Home page. Info about the web server and Vital Tracker device will be added later.<br>
                Security features will likely be added to adhere to HIPPA laws. <br>
                Fall detection will be implemented through pop-up windows.
            </p>
        </main>
      
    </body>
</html>