<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Vital Tracker Web Server</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <header>
        <h1> Vital Tracker</h1> 
    </header>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('ekg') }}">EKG</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Account</button>
                    <div class="dropdown-content" id="drop-options">
                        <a href="#" class="item" data-value="account">Account Details</a>
                        <a href="#" class="item" data-value="logout" id="logout">Logout</a>
                    </div>
                </div>
            </ul>

        </nav>
            
        <main>
            <h3>Welcome to the Vital Tracker Web Server!</h3>
            <p>
                Our senior design project focuses on creating a low-cost IoT-enabled patient monitoring system
                that continuously tracks key vital signs while minimizing disturbances from traditional practices and devices.
                The system securely transmits real-time data to healthcare providers, allowing nurses and doctors to remotely
                monitor overnight patients, respond faster to changes, and improve overall patient comfort and care effieciency. <br> <br>
                For any technical issues with the site, please email [ vitaltracker2026@gmail.com ]
            </p>
        </main>

      <script type="module" src="{{ url_for('static', filename='logout.js') }}"></script>
    </body>
</html>